/MyClock/build/
/MockProject/nbproject/private/
/GeometricObject/nbproject/private/
/AllGeometricObjects/nbproject/private/
/AllGeometricObjects/build/
/beChange/nbproject/private/
/beChange/build/
/beChange/dist/
/Project/nbproject/private/
/Project/dist/
/Project/build/
/Be Change/nbproject/private/
/Be Change/build/
/Be Change/dist/
/JavaApplication34/nbproject/private/
/JavaApplication34/build/
/JavaFXApplication4/nbproject/private/
/JavaFXApplication4/build/
/JavaFXApplication4/dist/
/StockSystem/nbproject/private/
/Bank/nbproject/private/